
.nagrade-i-partneri-jumbotron {
    padding-top:100px;
    padding-bottom: 50px;
    color: black;
}

.black-background-container {
    background-color: #1f1f1f;
    color: white;
    padding-top: 50px;
}

.button-link-partner {
    background-color: #F6C90E;
}

.video-partner {
    margin-bottom: 0;
}

.image-partner {
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .partner-logo {
        width: 300px;
    }
}

.text-partner-white-background {
    font-weight: 400;
}

.amazinga-text-special {
    display: flex;
    align-items: center;
    justify-content: left;
    height: 100%;
}

.amazinga-special-container {
    align-items: center;
    padding-top: 0!important;
    padding-left: 5%;
    padding-right: 5%;
}


.amazinga-special-text {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}   




.link-partner {
    margin-top: 5px;
}

.jumbotron-dolje {
    padding-top: 50px;
}

